:root {
  /* Fonts */
  --primary-font: Roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;

  /* Text colors */
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: #2e2f42;
  --grey: #2e2f42;
  --white: #ffffff;
  --dairy: #fcfcfc;

  /* Background colors */
  --navy-blue: #2e2f42;
}

/* Base styles */
.body {
  font-family: var(--primary-font);
  color: var(--slate);
  background-color: var(--white);
}
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}
.header-logo-color {
  color: var(--navy-blue);
}

/* Reset */
.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* Header styles/indexHTML*/

.header {
  background-color: var(--white);
}
.header-nav {
}
.header-logo {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}
.header-nav-list {
}
.header-nav-item {
}
.header-nav-link {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.header-nav-link:hover,
.header-nav-link:focus {
  color: var(--ocean);
}
.add {
  font-style: normal;
}
.header-list {
}
.header-item {
}

.header-contact {
  color: var(--slate);
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.header-contact:hover,
.header-contact:focus {
  color: var(--ocean);
}
/* Body styles */

.hero {
  background-color: var(--navy-blue);
  text-align: center;
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white);
}
.hero-btn {
  color: var(--white);
  background-color: var(--iris);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--ocean);
}
.main-strenghts-title {
}
.Strenghts {
}
.strenghts-list {
}
.strenghts-item {
}
.strenghts-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}
.undertitle {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}
.whatarewedoing {
}
.whatarewedoing-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue);
}
.whatarewedoing-list {
}
.whatarewedoing-item {
}
.whatarewedoing-img {
}
.ourteam {
  background-color: var(--cloud);
}
.title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue);
}
.ourteam-list {
}
.ourteam-item {
  background-color: var(--white);
}
.ourteam-img {
}
.team-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}
.team-positiom {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}
/* Footer styles */

.footer {
  background-color: var(--navy-blue);
}

.footer-logo {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}
.footer-logo-color {
  color: var(--cloud);
}
.footer-description {
  color: var(--cloud);
}

/* Portfolio */

.body-portf {
  font-family: "Roboto", sans-serif;
  color: var(--slate);
  background-color: var(--white);
}
.btn-item {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--iris);
  background-color: var(--cloud);
  cursor: pointer;
}
.btn-item:focus,
.btn-item:hover {
  color: var(--white);
  background-color: var(--ocean);
}
.img-img {
}
.img-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}
.img-undertitle {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}
