:root {
  /* Fonts */
  --primary-font: Roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;

  /* Text colors */
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: #2e2f42;
  --grey: #2e2f42;
  --white: #ffffff;
  --dairy: #fcfcfc;

  /* Others*/
  --indent: 24px;
  --items: 3;

  /* Background colors */
  --navy-blue: #2e2f42;
}

/* Base styles */
.body {
  font-family: var(--primary-font);
  color: var(--slate);
  background-color: var(--white);
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}
.header-logo-color {
  color: var(--navy-blue);
}

/* Reset start */
.list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.link {
  text-decoration: none;
}

/* Reset end */

.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
  align-items: center;

  outline: 1px solid red;
  outline-offset: -2px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

img {
  display: block;
}

button {
  font-family: inherit;
  color: currentColor;
  cursor: pointer;
}
/* Card Set */
.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);
}
.card-set-item {
  width: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}
/* Header styles/indexHTML*/

.main-nav {
  display: flex;
  align-items: center;
}

.header {
  border-bottom: 1px solid #e7e9fc;
  background-color: var(--white);
}
.header-nav {
  display: flex;
  align-items: center;
}
.header-logo {
  padding: 24px 0px;
  width: 115px;
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}

.header-nav-list {
  display: flex;
  margin-left: 76px;
}
.header-nav-item {
}

.header-nav-item + .header-nav-item {
  margin-left: 40px;
}

.header-nav-link {
  display: block;
  /* <added for better HOVERing */
  padding: 24px 0px;
  /* added for better HOVERing> */
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.header-nav-link:hover,
.header-nav-link:focus {
  color: var(--ocean);
}
.add {
  font-style: normal;
}
.header-list {
  display: flex;
  align-items: center;
}

.header-list:first-child {
  margin-left: 332px;
}

.header-item {
}
.header-item + .header-item {
  margin-left: 40px;
}

.header-contact {
  display: block;
  /* <added for better HOVERing */
  padding: 24px 0px;
  /* added for better HOVERing> */
  color: var(--slate);
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.header-contact:hover,
.header-contact:focus {
  color: var(--ocean);
}

/* Portfolio styles*/
.img-list {
  --items: 3;
}
/* Body styles */

.hero {
  padding: 188px 0px;
  background-color: var(--navy-blue);
}

.hero-section {
  text-align: center;
}

.hero-title {
  width: 496px;
  margin-bottom: 48px;
  margin-right: auto;
  margin-left: auto;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white);
}
.hero-btn {
  min-width: 169px;
  min-height: 56px;
  margin-top: 48px;
  margin-bottom: 204px;
  padding: 16px 32px;
  color: var(--white);
  background-color: var(--iris);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--ocean);
}
.main-strenghts-title {
}
.strenghts {
  padding: 120px 0px;
}
.strenghts-section {
}
.strenghts-list {
  display: flex;
}
.strenghts-item {
  width: 264px;
}
.strenghts-item + .strenghts-item {
  margin-left: 24px;
}
.strenghts-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}
.undertitle {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}
.whatarewedoing {
  padding: 120px 0px;
}
.whatarewedoing-title {
  margin: 0px auto 72px;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue);
}
.whatarewedoing-list {
  display: flex;
}
.whatarewedoing-item {
}
.whatarewedoing-item + .whatarewedoing-item {
  margin-left: 24px;
}
.whatarewedoing-img {
}
.ourteam {
  padding: 120px 0px;
  background-color: var(--cloud);
}
.ourteam-section {
}
.ourteam-title {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue);
}
.ourteam-list {
  display: flex;
}
.ourteam-item {
  background-color: var(--white);
}
.ourteam-item + .ourteam-item {
  margin-left: 24px;
}
.ourteam-img {
  width: 264px;
}
.team-card {
  width: 264px;
  text-align: center;
  padding-top: 32px;
  padding-bottom: 32px;
  outline: 1px solid darkgreen;
  outline-offset: -2px;
}

.team-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}
.team-positiom {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

/* Footer styles */

.footer {
  padding: 100px 0px;
  background-color: var(--navy-blue);
}

.footer-logo {
  display: block;
  margin-bottom: 16px;
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}
.footer-logo-color {
  color: var(--cloud);
}
.footer-description {
  width: 264px;
  color: var(--cloud);
}

/* Portfolio */

.body-portf {
  font-family: "Roboto", sans-serif;
  color: var(--slate);
  background-color: var(--white);
}
.btn-img {
  padding-top: 96px;
  padding-bottom: 72px;
}
.btn-img-section {
}
.btn-list {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
}
.btn-item {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--iris);
  background-color: var(--cloud);
  cursor: pointer;
}
.btn-item:focus,
.btn-item:hover {
  color: var(--white);
  background-color: var(--ocean);
}
.btn-list-item {
  border: 1px solid #e7e9fc;
  border-radius: 4px;
}
.btn-list-item + .btn-list-item {
  margin-left: 24px;
}
.img-img {
}
.img-list {
  display: flex;
  flex-wrap: wrap;
}
.img-item {
  width: 360px;

  background-color: tomato;
}
.img-card {
  padding-top: 32px;
  padding-bottom: 32px;
}
.img-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}
.img-undertitle {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}
